tags/HFMonitor_v3.2/HFMonitor/config/DTD/FFT_Processor.dtd

<!--  FFT processor configuration -->
<!-- $Id$ -->

<!ELEMENT FFT_Processor (Actions)>
<!ATTLIST FFT_Processor proc_name CDATA #REQUIRED>  <!-- processor name -->
<!ATTLIST FFT_Processor name      CDATA #REQUIRED>  <!-- name for data generated by this processor -->
<!ATTLIST FFT_Processor type (FFTProcessor_DOUBLE|FFTProcessor_FLOAT) #REQUIRED>  <!-- type of processor -->
<!ATTLIST FFT_Processor windowFunction (Rectangular|Hanning|Hamming|Blackman)   #REQUIRED>  <!-- FFT window function -->
<!ATTLIST FFT_Processor numberOfCollectedEpochs CDATA #REQUIRED>  <!-- number of epochs which are output together -->

<!--Actions are ordered into three levels: -->
<!ELEMENT Actions (L0,L1,L2)>
<!ATTLIST Actions calibrationKey CDATA #REQUIRED>  <!-- key of calibration information -->
<!ELEMENT L0 (FindPeak+)>
<!ELEMENT L1 (Calibrator)>
<!ELEMENT L2 (AverageDensity|FindPeak)*>

<!--  FFTProcessor Action: FindPeak configuration -->
<!ELEMENT FindPeak (Filter|Calibration)*>
<!ATTLIST FindPeak name         CDATA #REQUIRED> <!-- name of data product -->
<!-- interval in which peaks are searched: -->
<!ATTLIST FindPeak fMin_Hz      CDATA #REQUIRED> <!-- min. frequency -->
<!ATTLIST FindPeak fMax_Hz      CDATA #REQUIRED> <!-- max. frequency -->
<!ATTLIST FindPeak fRef_Hz      CDATA #REQUIRED> <!-- nominal frequency -->
<!ATTLIST FindPeak minRatio     CDATA #REQUIRED> <!-- min. S/N ratio -->
<!ATTLIST FindPeak plotSpectrum (0|1) #IMPLIED>  <!-- default is "0" -->

<!--  FFTProcessor Filter configuration -->
<!ELEMENT Filter EMPTY>
<!ATTLIST Filter type             (None|LowPass) #REQUIRED> <!-- filter type -->
<!ATTLIST Filter timeConstant_sec CDATA          #REQUIRED> <!-- filter time constant (sec) -->

<!--  FFTProcessor Action: Calibrator configuration -->
<!ELEMENT Calibrator (Inputs)>
<!ATTLIST Calibrator name                    CDATA #REQUIRED> <!-- name of data product -->
<!ATTLIST Calibrator maxOffset_Hz            CDATA #REQUIRED> <!-- max. allowed offset -->
<!ATTLIST Calibrator maxCorrectionFactor_ppm CDATA #REQUIRED> <!-- max. allowed offset factor (ppm) -->
<!ELEMENT Inputs (Input+)>
<!ELEMENT Input EMPTY>
<!ATTLIST Input key CDATA #REQUIRED> <!-- key name specifying some FindPeak data -->

<!--  FFTProcessor Action: AverageDensity configuration -->
<!ELEMENT AverageDensity (Calibration*)>
<!ATTLIST AverageDensity name         CDATA #REQUIRED> <!-- name of data product -->
<!ATTLIST AverageDensity fRef_Hz      CDATA #REQUIRED> <!-- mid frequency (Hz) -->
<!ATTLIST AverageDensity bandwidth_Hz CDATA #REQUIRED> <!-- bandwidth (Hz) -->
<!ATTLIST AverageDensity plotSpectrum (0|1) #IMPLIED>  <!-- default: "0" -->
<!ELEMENT Calibration EMPTY>
<!ATTLIST Calibration key CDATA #REQUIRED> <!-- key name of calibration information -->
